[Unit]
Description=Holland Frontend (nginx)

[Container]
ContainerName=holland-frontend
Image=ghcr.io/sebag90/holland-frontend:latest

Pod=holland.pod

Label=traefik.enable=true
Label=traefik.http.routers.holland.rule=Host(`holland.giglis.eu`)
Label=traefik.http.routers.holland.entrypoints=websecure
Label=traefik.http.routers.holland.tls=true
Label=traefik.http.services.holland.loadbalancer.server.port=80
Label=traefik.http.routers.holland.tls.certresolver=letsencrypt

[Service]
Restart=always

[Install]
WantedBy=default.target
