[Unit]
Description=Holland Postgres

[Container]
ContainerName=holland-db
Image=docker.io/library/postgres:16
Volume=holland-db.volume:/var/lib/postgresql/data

HealthCmd=pg_isready -U holland
HealthInterval=10s

Pod=holland.pod
EnvironmentFile=/home/seba/containers_data/holland/db.env

[Service]
Restart=always

[Install]
WantedBy=default.target
